# Gather Insights from Industrial Data Stores with Amazon Bedrock

## Prerequisites

Before getting started, make sure you have the following:

- Python 3.x installed
- Access to an AWS account with permissions to use Amazon Bedrock
- Model access enabled for:
  - Anthropic Claude models (Claude 3 Haiku, Claude 3 Sonnet)
  - Amazon Nova models (Nova-Lite, Nova-Pro, Nova-Micro)
- The following repo: `https://github.com/aws-samples/industrial-data-store-simulation-chatbot` with this notebook in the same project directory
- (recommended) If running on Amazon SageMaker AI Jupyter Lab, a `ml.t3.medium` is recommended. This is the default instance type for CPU-based SageMaker images, and is available as part of the [AWS Free Tier](https://aws.amazon.com/free)

## Introduction

In this notebook, you will explore how to build a conversational interface for manufacturing data using Amazon Bedrock's Converse API with tool use capabilities. This approach allows models to interact with external tools like databases to provide accurate, up-to-date information in response to user queries.

You'll understand:
1. How to connect FMs to industrial data sources
2. How to use the Bedrock Converse API with tools
3. How to build a system that can translate natural language to SQL
4. How to create a complete workflow from user question to informative answer

### Context

Large language models (LLMs) have excellent reasoning capabilities but need external tools to access enterprise data. Instead of directly feeding database information to the model, we can leverage tool-calling capabilities that let the model:

1. Understand a user's question
2. Decide what data is needed
3. Call appropriate tools to retrieve that data (like database queries)
4. Interpret the results and provide a helpful response

This approach makes data accessible to users without SQL expertise or knowledge of database schemas. Rather than requiring specialized database tools, users can simply ask questions in natural language.

### Interact with a Manufacturing Execution System (MES)

In this workshop, you'll work with a simulated Manufacturing Execution System (MES) implemented as a SQLite database. Manufacturing Execution Systems track production processes, machine states, work orders, inventory, and quality control in manufacturing environments.

In real manufacturing settings, MES systems connect with other industrial systems like:
- ERP systems (for work orders and planning)
- SCADA and control systems (for operational data)
- Data historians (for time-series data and analytics)

Our simulated MES is self-contained for simplicity, but the techniques you'll learn can be extended to more complex environments with multiple connected systems.

## Environment Setup

First, let's install the required packages:

In [6]:
#install requirements
%pip install -q -r requirements.txt

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

Load environment variables:
> Note: This is not required when running this notebook in Amazon Sagemaker AI JupyterLab

In [7]:
# Environment setup
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

True

## Setting up the Amazon Bedrock Client

To use the Amazon Bedrock Converse API, we'll create a boto3 client for bedrock-runtime:

In [8]:
import boto3
import json

def get_bedrock_client():
    """Create a bedrock-runtime client"""
    return boto3.client(
        service_name='bedrock-runtime',
        region_name=os.getenv("AWS_REGION", "us-east-1"),
        endpoint_url=f'https://bedrock-runtime.{os.getenv("AWS_REGION", "us-east-1")}.amazonaws.com',
    )

# Create the client
bedrock_client = get_bedrock_client()

Let's test the client with a simple prompt to make sure our access to Bedrock is working properly:

In [11]:
def test_bedrock_model(prompt, model_id="anthropic.claude-3-haiku-20240307-v1:0"):
    """Test the Bedrock model with a simple prompt"""
    if "anthropic" in model_id:
        body = json.dumps({
            "max_tokens": 1024,
            "temperature": 0.5,
            "messages": [
                {"role": "user", "content": prompt}
            ],
            "anthropic_version": "bedrock-2023-05-31"
        })
    elif "nova" in model_id:
        body = json.dumps({
            "schemaVersion": "messages-v1",
            "messages": [
                {"role": "user", "content": [{"text": prompt}]}
            ],
            "inferenceConfig": {
                "maxTokens": 1024,
                "temperature": 0.5,
                "topP": 0.9
            }
        })
    elif "amazon" in model_id:
        body = json.dumps({
            "inputText": prompt,
            "textGenerationConfig": {
                "maxTokenCount": 1024,
                "temperature": 0.5,
                "topP": 0.9
            }
        })
    
    response = bedrock_client.invoke_model(
        body=body, 
        modelId=model_id
    )
    
    response_body = json.loads(response.get("body").read())
    
    if "anthropic" in model_id:
        return response_body['content'][0]['text']
    elif "nova" in model_id:
        # Nova response format is different
        if 'contentBlocks' in response_body and len(response_body['contentBlocks']) > 0:
            # Extract text from content blocks
            content_block = response_body['contentBlocks'][0]
            if 'text' in content_block:
                return content_block['text']
            elif 'content' in content_block and len(content_block['content']) > 0:
                return content_block['content'][0].get('text', '')
        return str(response_body)
    elif "amazon" in model_id:
        return response_body.get('results')[0].get('outputText')

# Test with Claude 3 Haiku
prompt = "Hello, can you tell me about manufacturing execution systems (MES) in 2-3 sentences?"
response = test_bedrock_model(prompt)
print("Claude 3 Haiku Response:")
print(response)

Claude 3 Haiku Response:
Certainly! Here's a brief overview of manufacturing execution systems (MES) in 2-3 sentences:

Manufacturing execution systems (MES) are software solutions that help manufacturers optimize and manage their production processes in real-time. MES provide visibility into the production floor, enabling manufacturers to monitor, control, and improve their operations, from tracking materials and work orders to ensuring quality and compliance. These systems play a crucial role in bridging the gap between the shop floor and the enterprise, allowing manufacturers to make data-driven decisions and enhance their overall operational efficiency.

Let's compare responses between different available models:

In [12]:
import time

# Define models to test
models = [
    "anthropic.claude-3-haiku-20240307-v1:0",
    "anthropic.claude-3-sonnet-20240229-v1:0",
    "us.amazon.nova-micro-v1:0"
]

prompt = "Tell me about the top 3 trends in Industrial Manufacturing in 3 bullet points"

# Test each model
for model_id in models:
    print(f"\nTesting {model_id}...")
    start_time = time.time()
    
    try:
        response = test_bedrock_model(prompt, model_id)
        end_time = time.time()
        execution_time = end_time - start_time
        
        print(f"Response:\n{response}")
        print(f"\nExecution time: {execution_time:.2f} seconds")
    except Exception as e:
        print(f"Error with model {model_id}: {e}")
        print("Please make sure you have enabled access to this model in the AWS Bedrock console.")

Testing anthropic.claude-3-haiku-20240307-v1:0...
Response:
Here are the top 3 trends in Industrial Manufacturing in 3 bullet points:

• Automation and Robotics: The increasing adoption of automation and robotics in industrial manufacturing is driving efficiency, productivity, and precision in various manufacturing processes. This includes the use of advanced technologies such as industrial robots, cobots (collaborative robots), and automated material handling systems.

• Digitalization and Industry 4.0: The integration of digital technologies, such as the Internet of Things (IoT), big data analytics, and cloud computing, is transforming industrial manufacturing. This trend, often referred to as Industry 4.0, enables data-driven decision-making, predictive maintenance, and the optimization of production processes.

• Sustainability and Environmental Consciousness: There is a growing emphasis on sustainable manufacturing practices, including the use of renewable energy, the implementation of circular economy principles, and the reduction of waste and emissions. Manufacturers are increasingly focused on developing eco-friendly products and implementing environmentally responsible manufacturing processes.

Execution time: 1.98 seconds

Testing anthropic.claude-3-sonnet-20240229-v1:0...
Response:
The top 3 trends in Industrial Manufacturing are:

• Automation and Robotics: The increased adoption of automated systems, robotics, and artificial intelligence to streamline production processes, improve efficiency, and reduce labor costs.

• Internet of Things (IoT) and Smart Manufacturing: The integration of connected devices, sensors, and data analytics to optimize operations, enable predictive maintenance, and enhance supply chain visibility.

• Sustainability and Circular Economy: A growing focus on sustainable practices, such as the use of renewable energy sources, waste reduction, and the implementation of circular economy principles to minimize environmental impact.

Execution time: 5.53 seconds

Testing us.amazon.nova-micro-v1:0...
Response:
{'output': {'message': {'content': [{'text': 'Certainly! Here are the top three trends in industrial manufacturing as of 2023:\n\n- **Digital Transformation and Industry 4.0**: The integration of advanced digital technologies such as IoT (Internet of Things), AI (Artificial Intelligence), and big data analytics is revolutionizing manufacturing processes. This trend is enabling smarter factories, predictive maintenance, and enhanced supply chain management, leading to increased efficiency and reduced downtime.\n\n- **Sustainability and Green Manufacturing**: There is a growing emphasis on sustainability within manufacturing. Companies are adopting eco-friendly practices, such as using renewable energy sources, reducing waste, and implementing circular economy principles. This trend is driven by both regulatory pressures and consumer demand for more sustainable products.\n\n- **Automation and Robotics**: The use of automation and robotics is expanding rapidly to improve productivity and precision in manufacturing. Advanced robotics are being used for tasks ranging from assembly line operations to complex manufacturing processes. This trend is also fostering the development of collaborative robots (cobots) that can work safely alongside human workers.'}], 'role': 'assistant'}}, 'stopReason': 'end_turn', 'usage': {'inputTokens': 16, 'outputTokens': 201, 'totalTokens': 217, 'cacheReadInputTokenCount': 0, 'cacheWriteInputTokenCount': 0}}

Execution time: 1.30 seconds

As you can see from the above tests, models do output different results from the same questions - models have their own "personality" and larger models generally reason better but are slower and more expensive to run. One can also notice different model families structure their output differently, making it difficult o easily switch between models. In the cell above we manually hanlded this for Amazon Nova and Anthropic Claude, but this is not scalable. 

Follow along with the notebook to see how we can address this to make model swapping a breeze!

## Database Exploration

Let's explore the simulated MES database to understand its structure. This is important for understanding what data we have access to through our tools.

The MES database includes tables for:

- Products and Bill of Materials
- Inventory and Suppliers
- Work Centers and Machines
- Employees and Shifts
- Work Orders and Production Schedules
- Quality Control and Defects
- Material Consumption
- Downtime Events
- OEE (Overall Equipment Effectiveness) Metrics

In [16]:
# First, let's create a helper function to execute SQL queries against our SQLite database
import sqlite3
import pandas as pd

def query_sqlite(query, db_path="mes.db"):
    """
    Executes a SQL query against a SQLite database and returns the results as a pandas DataFrame
    
    Parameters
    ----------
    query : str
        An SQL query to execute
    db_path : str
        Path to the SQLite database file
        
    Returns
    ----------
    pandas.DataFrame
        The results of the SQL query
    """
    try:
        conn = sqlite3.connect(db_path)
        df = pd.read_sql_query(query, conn)
        conn.close()
        return df
    except Exception as e:
        return f"Error executing query: {str(e)}"

Now, let's check if the database exists and what tables it contains:

In [17]:
# Check if the database file exists
import os
if not os.path.exists('mes.db'):
    print("MES database not found. We need to create it first.")
    print("Running the synthetic data generator...")
    
    # You can import and run the generator script 
    # from MES-synthetic-data.sqlite-synthetic-mes-data import main
    # main()
    
    # For this notebook, we'll run a simple command to create the database
    # if it doesn't exist
    !python MES-synthetic-data/sqlite-synthetic-mes-data.py

# Show tables in the database
print("Tables in the database:")
tables = query_sqlite("SELECT name FROM sqlite_master WHERE type='table';")
print(tables)

Tables in the database:
                   name
0              Products
1             Suppliers
2           WorkCenters
3                Shifts
4             Inventory
5              Machines
6             Employees
7       BillOfMaterials
8            WorkOrders
9            OEEMetrics
10            Downtimes
11       QualityControl
12  MaterialConsumption
13              Defects

Let's examine the structure of each table to understand what data we have:

In [18]:
# Function to explore table structure and sample data
def explore_table(table_name, limit=5):
    """
    Explores a table's structure and sample data
    
    Parameters
    ----------
    table_name : str
        The name of the table to explore
    limit : int
        Number of sample rows to display
        
    Returns
    ----------
    None
        Prints table info to the console
    """
    # Get table schema
    schema = query_sqlite(f"PRAGMA table_info({table_name});")
    
    # Get sample data
    sample_data = query_sqlite(f"SELECT * FROM {table_name} LIMIT {limit};")
    
    print(f"\n--- {table_name} Table ---")
    print("\nSchema:")
    print(schema[['name', 'type']])
    
    print("\nSample Data:")
    print(sample_data)
    
    # Get row count
    count = query_sqlite(f"SELECT COUNT(*) as count FROM {table_name};")
    print(f"\nTotal Rows: {count['count'].values[0]}")
    
    print("-" * 50)

In [19]:
# Explore each table in the database
for table_name in tables['name']:
    explore_table(table_name)

--- Products Table ---

Schema:
                  name     type
0            ProductID  INTEGER
1                 Name  VARCHAR
2          Description  VARCHAR
3             Category  VARCHAR
4                 Cost    FLOAT
5  StandardProcessTime    FLOAT
6             IsActive  BOOLEAN

Sample Data:
   ProductID        Name                                        Description  \
0          1  eBike T101  eBike T101: High-performance electric bicycle ...
1          2  eBike T200  eBike T200: Premium mountain e-bike with rugge...
2          3  eBike C150  eBike C150: Comfortable city commuter e-bike w...
3          4  eBike M300  eBike M300: Mid-drive electric mountain bike w...
4          5       Forks  Forks: Durable suspension forks for smooth rid...

         Category    Cost  StandardProcessTime  IsActive
0  Electric Bikes  634.85                 4.20         1
1  Electric Bikes  879.00                 4.64         1
2  Electric Bikes  180.16                 6.08         1
3  Electric Bikes  108.68                 4.01         1
4     Accessories   52.26                 1.26         1

Total Rows: 32
--------------------------------------------------

--- Suppliers Table ---

Schema:
               name     type
0        SupplierID  INTEGER
1              Name  VARCHAR
2          LeadTime  INTEGER
3  ReliabilityScore    FLOAT
4       ContactInfo  VARCHAR

Sample Data:
   SupplierID                  Name  LeadTime  ReliabilityScore  \
0           1      Acme Electronics         5              0.89
1           2         BikeFrame Co.        10              0.83
2           3         Wheel Masters         7              0.88
3           4          Battery Tech        14              0.81
4           5  Control Systems Inc.         8              0.96

                                         ContactInfo
0  Contact: Krista Thomas, Email: erin56@example....
1  Contact: Danielle Rivera, Email: powersbrandy@...
2  Contact: Victoria Berry, Email: rushronald@exa...
3  Contact: Natalie Whitney, Email: melaniecarrol...
4  Contact: Jocelyn Thomas, Email: ihall@example....

Total Rows: 8
--------------------------------------------------

--- WorkCenters Table ---

Schema:
           name     type
0  WorkCenterID  INTEGER
1          Name  VARCHAR
2   Description  VARCHAR
3      Capacity    FLOAT
4   CapacityUOM  VARCHAR
5   CostPerHour    FLOAT
6      Location  VARCHAR
7      IsActive  BOOLEAN

Sample Data:
   WorkCenterID                Name  \
0             1   Frame Fabrication
1             2    Wheel Production
2             3    Paint and Finish
3             4  Battery Production
4             5      Motor Assembly

                                         Description  Capacity  \
0  Area for cutting, shaping, and welding bike fr...      10.0
1        Assembly line for wheel building and truing      30.0
2    Automated paint booth and manual finishing area      15.0
3   Clean room for battery cell assembly and testing      20.0
4        Precision assembly line for electric motors      25.0

      CapacityUOM  CostPerHour      Location  IsActive
0     frames/hour        63.09    North Wing         1
1     wheels/hour       137.13    North Wing         1
2     frames/hour        54.64    North Wing         1
3  batteries/hour       192.66    Building A         1
4     motors/hour       165.12  Main Factory         1

Total Rows: 9
--------------------------------------------------

--- Shifts Table ---

Schema:
        name     type
0    ShiftID  INTEGER
1       Name  VARCHAR
2  StartTime  VARCHAR
3    EndTime  VARCHAR
4   Capacity    FLOAT
5  IsWeekend  BOOLEAN

Sample Data:
   ShiftID           Name StartTime EndTime  Capacity  IsWeekend
0        1        Morning     06:00   14:00       1.0          0
1        2      Afternoon     14:00   22:00       0.9          0
2        3          Night     22:00   06:00       0.8          0
3        4    Weekend Day     08:00   20:00       0.7          1
4        5  Weekend Night     20:00   08:00       0.6          1

Total Rows: 5
--------------------------------------------------

--- Inventory Table ---

Schema:
                name      type
0             ItemID   INTEGER
1               Name   VARCHAR
2           Category   VARCHAR
3           Quantity   INTEGER
4       ReorderLevel   INTEGER
5         SupplierID   INTEGER
6           LeadTime   INTEGER
7               Cost     FLOAT
8          LotNumber   VARCHAR
9           Location   VARCHAR
10  LastReceivedDate  DATETIME

Sample Data:
   ItemID             Name              Category  Quantity  ReorderLevel  \
0       1  Aluminum Tubing          Raw Material       147            18
1       2      Steel Bolts          Raw Material       828            95
2       3     Rubber Grips          Raw Material       938            91
3       4     Brake Cables  Electronic Component       953            18
4       5    Gear Shifters             Packaging       905            53

   SupplierID  LeadTime   Cost     LotNumber          Location  \
0           8        12  96.05  LOT-a11b5544       Warehouse A
1           8         8  68.15  LOT-f72701aa       Warehouse B
2           6        27  68.79  LOT-04f1c144  External Storage
3           4         6  81.36  LOT-4b1d0d7b     Assembly Area
4           7        11  73.38  LOT-072d04be       Warehouse A

             LastReceivedDate
0  2025-01-24 10:52:34.677698
1  2025-01-07 10:52:34.678453
2  2025-02-26 10:52:34.678629
3  2024-12-29 10:52:34.678781
4  2025-01-18 10:52:34.678921

Total Rows: 30
--------------------------------------------------

--- Machines Table ---

Schema:
                     name      type
0               MachineID   INTEGER
1                    Name   VARCHAR
2                    Type   VARCHAR
3            WorkCenterID   INTEGER
4                  Status   VARCHAR
5         NominalCapacity     FLOAT
6             CapacityUOM   VARCHAR
7               SetupTime   INTEGER
8        EfficiencyFactor     FLOAT
9    MaintenanceFrequency   INTEGER
10    LastMaintenanceDate  DATETIME
11    NextMaintenanceDate  DATETIME
12  ProductChangeoverTime   INTEGER
13            CostPerHour     FLOAT
14       InstallationDate  DATETIME
15            ModelNumber   VARCHAR

Sample Data:
   MachineID            Name            Type  WorkCenterID       Status  \
0          1  Machine Fra-10   Frame Welding             1      running
1          2  Machine Fra-11   Frame Welding             1      running
2          3  Machine Fra-12   Frame Welding             1  maintenance
3          4  Machine Whe-20  Wheel Assembly             2      running
4          5  Machine Whe-21  Wheel Assembly             2         idle

   NominalCapacity  CapacityUOM  SetupTime  EfficiencyFactor  \
0             9.13  frames/hour         26              0.89
1             9.16  frames/hour         29              0.89
2             7.65  frames/hour         22              0.96
3            21.40  wheels/hour         13              0.89
4            21.66  wheels/hour         19              0.88

   MaintenanceFrequency         LastMaintenanceDate  \
0                   175  2025-01-15 10:52:34.716030
1                   189  2025-02-08 10:52:34.716765
2                   170  2025-01-23 10:52:34.716966
3                   169  2025-02-21 10:52:34.717864
4                   164  2025-02-16 10:52:34.718037

          NextMaintenanceDate  ProductChangeoverTime  CostPerHour  \
0  2025-01-22 17:52:34.716030                     21        80.15
1  2025-02-16 07:52:34.716765                     21        98.22
2  2025-01-30 12:52:34.716966                     45        45.37
3  2025-02-28 11:52:34.717864                     44        77.53
4  2025-02-23 06:52:34.718037                     23        70.26

             InstallationDate ModelNumber
0  2022-10-17 10:52:34.716026      W-3000
1  2022-10-27 10:52:34.716761      W-2000
2  2024-07-05 10:52:34.716963      W-3000
3  2022-09-17 10:52:34.717862     WA-1000
4  2022-06-29 10:52:34.718034     WA-1000

Total Rows: 19
--------------------------------------------------

--- Employees Table ---

Schema:
         name      type
0  EmployeeID   INTEGER
1        Name   VARCHAR
2        Role   VARCHAR
3     ShiftID   INTEGER
4  HourlyRate     FLOAT
5      Skills   VARCHAR
6    HireDate  DATETIME

Sample Data:
   EmployeeID              Name             Role  ShiftID  HourlyRate  \
0           1       Jason Smith       Technician        5       20.16
1           2     Jackie Harvey       Technician        4       23.85
2           3      Erin Webster         Operator        3       15.17
3           4  Adrian Schneider       Technician        4       20.20
4           5         Mark Dean  Quality Control        3       23.83

                                              Skills  \
0  Machine Repair, Electrical Systems, Mechanical...
1  Electrical Systems, Troubleshooting, Calibrati...
2  Material Handling, Machine Operation, Quality ...
3  Electrical Systems, Mechanical Systems, Preven...
4  Documentation, Statistical Analysis, Inspectio...

                     HireDate
0  2024-12-20 10:52:34.727274
1  2020-05-13 10:52:34.728627
2  2024-11-23 10:52:34.728965
3  2024-12-01 10:52:34.729169
4  2024-04-07 10:52:34.729366

Total Rows: 50
--------------------------------------------------

--- BillOfMaterials Table ---

Schema:
          name     type
0        BOMID  INTEGER
1    ProductID  INTEGER
2  ComponentID  INTEGER
3     Quantity    FLOAT
4  ScrapFactor    FLOAT

Sample Data:
   BOMID  ProductID  ComponentID  Quantity  ScrapFactor
0      1          1            5       7.0         0.01
1      2          1            7       6.0         0.02
2      3          1            3      14.0         0.14
3      4          1           19       9.0         0.00
4      5          1           14       7.0         0.02

Total Rows: 176
--------------------------------------------------

--- WorkOrders Table ---

Schema:
                name      type
0            OrderID   INTEGER
1          ProductID   INTEGER
2       WorkCenterID   INTEGER
3          MachineID   INTEGER
4         EmployeeID   INTEGER
5           Quantity   INTEGER
6   PlannedStartTime  DATETIME
7     PlannedEndTime  DATETIME
8    ActualStartTime  DATETIME
9      ActualEndTime  DATETIME
10            Status   VARCHAR
11          Priority   INTEGER
12          LeadTime   INTEGER
13         LotNumber   VARCHAR
14  ActualProduction   INTEGER
15             Scrap   INTEGER
16   SetupTimeActual   INTEGER

Sample Data:
   OrderID  ProductID  WorkCenterID  MachineID  EmployeeID  Quantity  \
0        1          4             7         15           9        59
1        2         10             2          5          50       603
2        3          8             7         15          19       666
3        4         10             2          4          27       406
4        5         13             2          5          16       529

             PlannedStartTime              PlannedEndTime  \
0  2025-03-11 01:18:59.645075  2025-03-11 03:40:56.885075
1  2025-03-02 20:38:51.370889  2025-03-03 05:27:05.050889
2  2025-02-07 18:34:25.500964  2025-02-07 22:10:12.540964
3  2025-02-27 08:51:09.342118  2025-02-27 14:46:48.702118
4  2024-12-31 21:09:47.319546  2025-01-01 02:39:53.079546

              ActualStartTime               ActualEndTime       Status  \
0                        None                        None    scheduled
1  2025-03-02 21:00:51.370889                        None  in_progress
2  2025-02-07 18:19:25.500964  2025-02-07 22:18:45.782357    completed
3  2025-02-27 08:35:09.342118                        None  in_progress
4  2024-12-31 21:02:47.319546  2025-01-01 02:31:00.702583    completed

   Priority  LeadTime     LotNumber  ActualProduction  Scrap  SetupTimeActual
0         5        76  LOT-05a2a161               NaN      0              NaN
1         5        29  LOT-7acebe45             467.0      1             35.0
2         5       140  LOT-9ab3dda1             662.0      4             13.0
3         5        89  LOT-4df367e8             259.0      4             35.0
4         2       112  LOT-23489742             515.0     14             32.0

Total Rows: 200
--------------------------------------------------

--- OEEMetrics Table ---

Schema:
                    name      type
0               MetricID   INTEGER
1              MachineID   INTEGER
2                   Date  DATETIME
3           Availability     FLOAT
4            Performance     FLOAT
5                Quality     FLOAT
6                    OEE     FLOAT
7  PlannedProductionTime   INTEGER
8   ActualProductionTime   INTEGER
9               Downtime   INTEGER

Sample Data:
   MetricID  MachineID                        Date  Availability  Performance  \
0         1          1  2025-03-04 10:52:35.363175        0.8660       0.8151
1         2          1  2025-03-03 10:52:35.363776        0.8282       0.7795
2         3          1  2025-03-02 10:52:35.363898        0.7960       0.7492
3         4          1  2025-03-01 10:52:35.364006        0.8163       0.7682
4         5          1  2025-02-28 10:52:35.364112        0.8629       0.8121

   Quality     OEE  PlannedProductionTime  ActualProductionTime  Downtime
0   0.9679  0.6832                    480                   416        64
1   0.9256  0.5975                    480                   398        82
2   0.8896  0.5305                    480                   383        97
3   0.9123  0.5721                    480                   392        88
4   0.9644  0.6758                    480                   415        65

Total Rows: 570
--------------------------------------------------

--- Downtimes Table ---

Schema:
          name      type
0   DowntimeID   INTEGER
1    MachineID   INTEGER
2      OrderID   INTEGER
3    StartTime  DATETIME
4      EndTime  DATETIME
5     Duration   INTEGER
6       Reason   VARCHAR
7     Category   VARCHAR
8  Description      TEXT
9   ReportedBy   INTEGER

Sample Data:
   DowntimeID  MachineID OrderID                   StartTime  \
0           1          1    None  2025-01-10 10:52:35.343639
1           2          1    None  2024-12-26 10:52:35.344355
2           3          1    None  2025-01-13 10:52:35.344585
3           4          2    None  2025-01-06 10:52:35.345076
4           5          2    None  2025-01-28 10:52:35.345278

                      EndTime  Duration            Reason   Category  \
0  2025-01-10 11:45:35.343639        53          Cleaning    planned
1  2024-12-26 12:21:35.344355        89          Training    planned
2  2025-01-13 11:15:35.344585        23  Setup/Changeover    planned
3  2025-01-06 12:06:35.345076        74     Quality Issue  unplanned
4  2025-01-28 11:26:35.345278        34          Cleaning    planned

                                         Description  ReportedBy
0   Cleaning on Machine Fra-10 in Frame Welding area          42
1   Training on Machine Fra-10 in Frame Welding area          49
2               Setup for new product specifications          12
3  Quality Issue on Machine Fra-11 in Frame Weldi...           2
4   Cleaning on Machine Fra-11 in Frame Welding area          49

Total Rows: 67
--------------------------------------------------

--- QualityControl Table ---

Schema:
          name      type
0      CheckID   INTEGER
1      OrderID   INTEGER
2         Date  DATETIME
3       Result   VARCHAR
4     Comments   VARCHAR
5   DefectRate     FLOAT
6   ReworkRate     FLOAT
7    YieldRate     FLOAT
8  InspectorID   INTEGER

Sample Data:
   CheckID  OrderID                        Date  Result  \
0        1        2  2025-03-04 10:52:35.110896  rework
1        2        3  2025-02-07 22:18:45.782357  rework
2        3        4  2025-03-04 10:52:35.113151  rework
3        4        5  2025-01-01 02:31:00.702583  rework
4        5        7  2025-01-24 19:59:45.329069  rework

                                            Comments  DefectRate  ReworkRate  \
0      Spoke tension even and within specified range      0.0061      0.0982
1           Pedals thread in smoothly and are secure      0.0491      0.0603
2        Wheel true and round within 0.5mm tolerance      0.0276      0.0906
3                   Hub bearings smooth with no play      0.0490      0.0749
4  Quick release/thru-axles function correctly an...      0.0245      0.0653

   YieldRate  InspectorID
0     0.8957           30
1     0.8906            5
2     0.8818            5
3     0.8761            5
4     0.9102           30

Total Rows: 154
--------------------------------------------------

--- MaterialConsumption Table ---

Schema:
              name      type
0    ConsumptionID   INTEGER
1          OrderID   INTEGER
2           ItemID   INTEGER
3  PlannedQuantity     FLOAT
4   ActualQuantity     FLOAT
5  VariancePercent     FLOAT
6  ConsumptionDate  DATETIME
7        LotNumber   VARCHAR

Sample Data:
   ConsumptionID  OrderID  ItemID  PlannedQuantity  ActualQuantity  \
0              1        2       3          3256.20         1095.05
1              2        2       9          1827.09          327.31
2              3        3       1          2877.12         3150.50
3              4        3      30         10189.80        10891.49
4              5        3      18          4708.62         4792.27

   VariancePercent             ConsumptionDate     LotNumber
0           -66.37  2025-03-04 10:52:35.208051  LOT-7acebe45
1           -82.09  2025-03-04 10:52:35.208706  LOT-7acebe45
2             9.50  2025-02-07 22:18:45.782357  LOT-9ab3dda1
3             6.89  2025-02-07 22:18:45.782357  LOT-9ab3dda1
4             1.78  2025-02-07 22:18:45.782357  LOT-9ab3dda1

Total Rows: 948
--------------------------------------------------

--- Defects Table ---

Schema:
          name     type
0     DefectID  INTEGER
1      CheckID  INTEGER
2   DefectType  VARCHAR
3     Severity  INTEGER
4     Quantity  INTEGER
5     Location  VARCHAR
6    RootCause  VARCHAR
7  ActionTaken  VARCHAR

Sample Data:
   DefectID  CheckID          DefectType  Severity  Quantity Location  \
0         1        1            Hub Play         2         1     Left
1         2        1   Valve Stem Defect         5         1      Top
2         3        2       Interface Fit         2         4   Bottom
3         4        3       Spoke Tension         1         2   Bottom
4         5        3  Bead Seating Issue         2         1     Rear

           RootCause              ActionTaken
0     Operator Error  Accepted with Deviation
1       Design Issue                 Scrapped
2  Process Variation                 Reworked
3  Process Variation  Accepted with Deviation
4  Process Variation         Process Adjusted

Total Rows: 303
--------------------------------------------------

## Understanding the Bedrock Converse API with Tools

The Bedrock Converse API allows models to interact with external tools. This is particularly useful for helping models access databases or other systems when answering questions.

Here's how the tool use process works:

1. A user asks a question
2. We pass the question to the model through the Converse API
3. The model decides if it needs to use a tool to answer
4. If a tool is needed, the model requests to call the tool with specific parameters
5. We execute the tool and return the results to the model
6. The model uses the tool results to generate a final answer

This process can involve multiple tool calls within a single conversation turn.

Now, let's define our tool configurations for interacting with the MES database.

In [20]:
# Define tool configurations for interacting with the MES database
def get_tool_config():
    """
    Get the tool configuration for the Bedrock Converse API
    
    Returns
    -------
    dict
        Tool configuration for the Converse API
    """
    return {
        "tools": [
            {
                "toolSpec": {
                    "name": "get_schema",
                    "description": "ALWAYS use this tool FIRST to get the schema of the MES database before attempting any SQL queries. This provides details about all tables, columns, relationships, and sample data.",
                    "inputSchema": {
                        "json": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                }
            },
            {
                "toolSpec": {
                    "name": "execute_sql",
                    "description": "Execute SQL queries against the MES database ONLY after you have retrieved and examined the schema. Write efficient SQL that joins relevant tables and focuses on answering the user's specific question.",
                    "inputSchema": {
                        "json": {
                            "type": "object",
                            "properties": {
                                "sql_query": {
                                    "type": "string",
                                    "description": "The SQL query to execute against the MES database. Write clean, efficient SQL that joins necessary tables to answer the user's question in one query when possible."
                                }
                            },
                            "required": [
                                "sql_query"
                            ]
                        }
                    }
                }
            }
        ]
    }

Now let's create functions to handle the tool requests from the model:

In [21]:
# DatabaseQueryTool class to handle SQL queries and schema retrieval
class DatabaseQueryTool:
    """A tool for executing SQL queries against the MES database"""
    
    def __init__(self, db_path="mes.db"):
        """Initialize with the database path"""
        self.db_path = db_path
        self._schema_cache = None
        self._schema_cache_time = None
        self._cache_expiry = 60 * 5  # Cache expires after 5 minutes
    
    def execute_query(self, sql_query):
        """Execute a SQL query and return the results"""
        print(f"Executing SQL query: {sql_query}")
        start_time = time.time()
        
        try:
            # Connect to the database
            conn = sqlite3.connect(self.db_path)
            
            # Execute the query
            df = pd.read_sql_query(sql_query, conn)
            conn.close()
            
            # Process datetime columns for better display
            for col in df.columns:
                if df[col].dtype == 'object':
                    # Try to convert string columns that might be dates
                    try:
                        if df[col].str.contains('-').any() and df[col].str.contains(':').any():
                            df[col] = pd.to_datetime(df[col])
                            # Format datetime for display
                            df[col] = df[col].dt.strftime('%Y-%m-%d %H:%M')
                    except:
                        pass
            
            # Round float columns to 2 decimal places for display
            for col in df.select_dtypes(include=['float']).columns:
                df[col] = df[col].round(2)
            
            # Convert to JSON-serializable format
            result = {
                "success": True,
                "rows": df.to_dict(orient="records"),
                "column_names": df.columns.tolist(),
                "row_count": len(df),
                "execution_time_ms": round((time.time() - start_time) * 1000, 2)
            }
            
            print(f"Query executed successfully: {len(df)} rows returned in {result['execution_time_ms']}ms")
            return result
            
        except Exception as e:
            error_msg = str(e)
            print(f"Error executing SQL query: {error_msg}")
            
            # Provide more helpful error messages for common issues
            if "no such table" in error_msg.lower():
                table_name = error_msg.split("no such table:", 1)[1].strip() if "no such table:" in error_msg else "unknown"
                error_msg = f"Table '{table_name}' doesn't exist. Please check the schema and table names."
            elif "no such column" in error_msg.lower():
                col_name = error_msg.split("no such column:", 1)[1].strip() if "no such column:" in error_msg else "unknown"
                error_msg = f"Column '{col_name}' doesn't exist. Please check the schema and column names."
            elif "syntax error" in error_msg.lower():
                error_msg = f"SQL syntax error: {error_msg}. Please check your query syntax."
            
            return {
                "success": False,
                "error": error_msg,
                "execution_time_ms": round((time.time() - start_time) * 1000, 2)
            }
    
    def get_schema(self):
        """Get the database schema with caching for performance"""
        current_time = time.time()
        
        # Return cached schema if available and fresh
        if (self._schema_cache is not None and 
            self._schema_cache_time is not None and 
            current_time - self._schema_cache_time < self._cache_expiry):
            print("Returning cached schema")
            return self._schema_cache
        
        print("Retrieving fresh database schema")
        start_time = time.time()
        
        try:
            conn = sqlite3.connect(self.db_path)
            cursor = conn.cursor()
            
            # Get all tables
            cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
            tables = cursor.fetchall()
            
            schema = {}
            for table in tables:
                table_name = table[0]
                
                # Get column information
                cursor.execute(f"PRAGMA table_info({table_name});")
                columns = cursor.fetchall()
                
                # Format column information
                column_info = []
                for col in columns:
                    column_info.append({
                        "name": col[1],
                        "type": col[2],
                        "notnull": bool(col[3]),
                        "pk": bool(col[5])
                    })
                
                # Get foreign key relationships
                cursor.execute(f"PRAGMA foreign_key_list({table_name});")
                foreign_keys = cursor.fetchall()
                
                fk_info = []
                for fk in foreign_keys:
                    fk_info.append({
                        "id": fk[0],
                        "seq": fk[1],
                        "table": fk[2],
                        "from": fk[3],
                        "to": fk[4]
                    })
                
                # Get table row count
                cursor.execute(f"SELECT COUNT(*) FROM {table_name};")
                row_count = cursor.fetchone()[0]
                
                # Get sample data (limited to 3 rows for performance)
                cursor.execute(f"SELECT * FROM {table_name} LIMIT 3;")
                sample_data = cursor.fetchall()
                
                # Get column names for the sample data
                column_names = [col[1] for col in columns]
                
                # Format sample data as records
                sample_data_records = []
                for row in sample_data:
                    record = {}
                    for i, value in enumerate(row):
                        record[column_names[i]] = value
                    sample_data_records.append(record)
                
                # Add table information to schema
                schema[table_name] = {
                    "columns": column_info,
                    "foreign_keys": fk_info,
                    "row_count": row_count,
                    "sample_data": sample_data_records
                }
            
            # Add schema metadata
            schema["__metadata__"] = {
                "database_name": self.db_path.split("/")[-1],
                "total_tables": len(tables),
                "generated_at": datetime.now().isoformat(),
                "schema_version": "1.1"
            }
            
            conn.close()
            
            # Update cache
            self._schema_cache = schema
            self._schema_cache_time = current_time
            
            print(f"Schema retrieved in {round((time.time() - start_time) * 1000, 2)}ms")
            return schema
            
        except Exception as e:
            print(f"Error retrieving schema: {e}")
            return {
                "error": f"Failed to retrieve schema: {str(e)}",
                "timestamp": datetime.now().isoformat()
            }

Now let's create a function to handle tool requests from the model:

In [22]:
from datetime import datetime

# Initialize the database tool
db_tool = DatabaseQueryTool()

def handle_tool_request(tool, model_id, conversation, query_timeout=60):
    """
    Handle tool requests from the model
    
    Parameters
    ----------
    tool : dict
        The tool request from the model
    model_id : str
        The model ID to use for the conversation
    conversation : list
        The conversation history
    query_timeout : int
        Timeout for SQL queries in seconds
        
    Returns
    -------
    tuple
        (response, conversation, tool_response)
    """
    tool_use = tool["toolUse"]
    tool_use_id = tool_use["toolUseId"]
    tool_name = tool_use["name"]
    
    print(f"Tool request received: {tool_name}, ID: {tool_use_id}")
    
    # Store tool responses for later display in the assistant message
    tool_response = {
        "type": tool_name,
        "data": None
    }
    
    # Execute the appropriate tool
    if tool_name == "execute_sql":
        sql_query = tool_use["input"]["sql_query"]
        
        # Save SQL for display
        tool_response["sql_query"] = sql_query
        
        # Execute the SQL query
        start_time = time.time()
        result = db_tool.execute_query(sql_query)
        elapsed_time = time.time() - start_time
        
        if result["success"]:
            tool_response["success"] = True
            tool_response["execution_time"] = elapsed_time
            tool_response["row_count"] = result["row_count"]
            
            # Convert to dataframe for display
            if result["row_count"] > 0:
                df = pd.DataFrame(result["rows"])
                tool_response["dataframe"] = df
                
                # Display the query results
                print(f"\nQuery results ({result['row_count']} rows):")
                print(df.head().to_string())
                if result["row_count"] > 5:
                    print(f"...and {result['row_count'] - 5} more rows")
            
            # Prepare the tool result response
            tool_result = {
                "toolUseId": tool_use_id,
                "content": [{"json": result}]
            }
        else:
            tool_response["success"] = False
            tool_response["error"] = result["error"]
            tool_response["execution_time"] = elapsed_time
            
            # Prepare the error response
            tool_result = {
                "toolUseId": tool_use_id,
                "content": [{"text": f"Error executing SQL: {result['error']}"}],
                "status": "error"
            }
    
    elif tool_name == "get_schema":
        # Get the database schema
        schema = db_tool.get_schema()
        
        # Save schema info for display
        # Filter out metadata entry when counting columns
        total_tables = len([k for k in schema.keys() if k != "__metadata__"])
        total_columns = sum(len(table_info.get("columns", [])) 
                          for table_name, table_info in schema.items() 
                          if table_name != "__metadata__")
        
        tool_response["data"] = {
            "total_tables": total_tables,
            "total_columns": total_columns,
            "schema": schema
        }
        
        print(f"\nSchema retrieved: {total_tables} tables, {total_columns} columns")
        
        # Prepare the tool result response
        tool_result = {
            "toolUseId": tool_use_id,
            "content": [{"json": schema}]
        }
    
    else:
        # Unknown tool
        print(f"Unknown tool requested: {tool_name}")
        
        tool_response["success"] = False
        tool_response["error"] = f"Unknown tool: {tool_name}"
        
        tool_result = {
            "toolUseId": tool_use_id,
            "content": [{"text": f"Unknown tool: {tool_name}"}],
            "status": "error"
        }
    
    # Add the tool result to the conversation
    tool_result_message = {
        "role": "user",
        "content": [
            {
                "toolResult": tool_result
            }
        ]
    }
    conversation.append(tool_result_message)
    
    # Send the tool result to the model
    response = bedrock_client.converse(
        modelId=model_id,
        messages=conversation,
        toolConfig=get_tool_config(),
        inferenceConfig={
            "maxTokens": 4096,
            "temperature": 0.1
        }
    )
    
    return response, conversation, tool_response

## Using the Converse API to Answer Questions about the MES

Now let's combine everything to ask questions about our MES database:

In [ ]:
def ask_mes_question(question, model_id="anthropic.claude-3-haiku-20240307-v1:0", temperature=0.1):
    """
    Ask a question about the MES using the Bedrock Converse API with tools
    
    Parameters
    ----------
    question : str
        The question to ask about the MES
    model_id : str
        The model ID to use for the conversation
    temperature : float
        The temperature to use for the model
        
    Returns
    -------
    dict
        A dictionary containing the question, response, and any tool outputs
    """
    print(f"Question: {question}")
    print("-" * 50)
    
    # Create system prompt
    system_prompt = """You are an expert manufacturing analyst for a Manufacturing Execution System (MES) for an e-bike manufacturing facility.

Your role is to help users extract insights by querying the MES database that tracks:
- Products (e-bikes, components, and parts)
- Work Orders (production jobs with schedules and status)
- Inventory (raw materials, components, and stock levels)
- Work Centers (manufacturing areas like Frame Fabrication, Wheel Production)
- Machines (equipment with efficiency metrics and maintenance records)
- Quality Control (inspection results, defects, and yield rates)
- Material Consumption (component usage tracking)
- Downtime Events (machine issues and reasons)
- OEE Metrics (Overall Equipment Effectiveness measurements)
- Employees (operators, technicians, and managers)

IMPORTANT GUIDELINES:
1. ALWAYS use the get_schema tool FIRST to understand the database structure.
2. Write efficient SQL queries - prefer JOINs to retrieve related data in a single query and ALWAYS make sure that the query is SQLite compatible
3. For questions about trends or patterns, include visualizable metrics.
4. For inventory questions, consider reorder levels and stock status.
5. For quality questions, look at defect types and rates.
6. For machine questions, consider OEE metrics and maintenance schedules.
7. For production questions, consider work order status and schedule adherence.

FORMAT YOUR RESPONSES:
1. First, briefly restate what you understood from the question
2. Present a concise summary of the key findings
3. Add relevant details or observations beneath your summary
4. If applicable, suggest follow-up questions the user might want to ask

Keep your explanations clear and relevant to manufacturing operations. Avoid excessive technical jargon when explaining results.
"""
    
    # Start timer
    start_time = time.time()
    
    # Create user message
    user_message = {
        "role": "user",
        "content": [{"text": question}]
    }
    
    # Initialize conversation
    conversation = [user_message]
    
    # First model call
    response = bedrock_client.converse(
        modelId=model_id,
        messages=conversation,
        system=[{"text": system_prompt}],
        toolConfig=get_tool_config(),
        inferenceConfig={
            "maxTokens": 4096,
            "temperature": temperature
        }
    )
    
    # Store tool responses
    tool_responses = []
    
    # Handle tool use requests as needed
    stop_reason = response["stopReason"]
    
    while stop_reason == "tool_use":
        # Get the tool request
        tool_requests = response["output"]["message"]["content"]
        
        # Add the assistant message to the conversation
        conversation.append(response["output"]["message"])
        
        # Process each tool request
        for tool_request in tool_requests:
            if "toolUse" in tool_request:
                # Handle the tool request
                response, conversation, tool_response = handle_tool_request(
                    tool_request, model_id, conversation
                )
                
                # Store the tool response
                tool_responses.append(tool_response)
                
                # Check if we need to process another tool request
                stop_reason = response["stopReason"]
    
    # Extract the final text response
    final_message = response["output"]["message"]
    conversation.append(final_message)
    
    # Display the final text response
    final_text = ""
    for content_block in final_message["content"]:
        if "text" in content_block:
            final_text += content_block["text"]
    
    # Add elapsed time
    elapsed_time = round(time.time() - start_time, 2)
    
    print("-" * 50)
    print(f"Response (completed in {elapsed_time}s):")
    print(final_text)
    
    # Return everything for further analysis if needed
    return {
        "question": question,
        "response": final_text,
        "tool_responses": tool_responses,
        "conversation": conversation,
        "elapsed_time": elapsed_time
    }

Now let's try asking some questions about our MES:

In [24]:
# Question about machines
result = ask_mes_question("What is the status of each machine in the facility?")

Question: What is the status of each machine in the facility?
--------------------------------------------------
Tool request received: get_schema, ID: tooluse_B4-KVXkEQsKre7e2TGTZsA
Retrieving fresh database schema
Schema retrieved in 6.84ms

Schema retrieved: 14 tables, 127 columns
Tool request received: execute_sql, ID: tooluse_KA3-DlLdQAyPMaUY_KgwLw
Executing SQL query: SELECT
  m.MachineID,
  m.Name,
  m.Type,
  m.Status,
  m.NominalCapacity,
  m.CapacityUOM,
  m.EfficiencyFactor,
  m.LastMaintenanceDate,
  m.NextMaintenanceDate
FROM Machines m
Query executed successfully: 19 rows returned in 20.83ms

Query results (19 rows):
   MachineID            Name            Type       Status  NominalCapacity  CapacityUOM  EfficiencyFactor LastMaintenanceDate NextMaintenanceDate
0          1  Machine Fra-10   Frame Welding      running             9.13  frames/hour              0.89    2025-01-15 10:52    2025-01-22 17:52
1          2  Machine Fra-11   Frame Welding      running             9.16  frames/hour              0.89    2025-02-08 10:52    2025-02-16 07:52
2          3  Machine Fra-12   Frame Welding  maintenance             7.65  frames/hour              0.96    2025-01-23 10:52    2025-01-30 12:52
3          4  Machine Whe-20  Wheel Assembly      running            21.40  wheels/hour              0.89    2025-02-21 10:52    2025-02-28 11:52
4          5  Machine Whe-21  Wheel Assembly         idle            21.66  wheels/hour              0.88    2025-02-16 10:52    2025-02-23 06:52
...and 14 more rows
--------------------------------------------------
Response (completed in 6.38s):
The query retrieves the status, name, type, nominal capacity, capacity unit of measure, efficiency factor, last maintenance date, and next maintenance date for each machine in the facility. This provides a comprehensive overview of the current machine status and performance.

The key information we can gather from this data is:
- The current status of each machine (running, maintenance, breakdown, idle)
- The type of machine (frame welding, wheel assembly, paint booth, etc.)
- The nominal capacity and capacity unit of measure for each machine
- The efficiency factor, which indicates the machine's performance relative to its nominal capacity
- The dates of the last and next scheduled maintenance for each machine

This data can be used to monitor the overall production capacity and utilization of the facility, identify machines that may need maintenance or repair, and plan production schedules around machine availability and performance.

Let's try a more complex question that requires joining multiple tables:

In [25]:
# Question about work orders and products
result = ask_mes_question("Show me all completed work orders for eBike products")

Question: Show me all completed work orders for eBike products
--------------------------------------------------
Tool request received: get_schema, ID: tooluse_YEsFFvprQWe5fuNWXZewWQ
Returning cached schema

Schema retrieved: 14 tables, 127 columns
Tool request received: execute_sql, ID: tooluse_EcXNHLT2R3Ow-Fjv0wQW6Q
Executing SQL query: SELECT
  wo.OrderID,
  p.Name AS ProductName,
  wo.Quantity,
  wo.ActualStartTime,
  wo.ActualEndTime,
  wo.Status
FROM WorkOrders wo
JOIN Products p ON wo.ProductID = p.ProductID
WHERE p.Category = 'Electric Bikes'
  AND wo.Status = 'completed'
ORDER BY wo.ActualStartTime DESC;
Query executed successfully: 18 rows returned in 8.06ms

Query results (18 rows):
   OrderID ProductName  Quantity   ActualStartTime     ActualEndTime     Status
0      109  eBike T200        63  2025-03-03 08:18  2025-03-03 11:16  completed
1       68  eBike M300        62  2025-02-28 04:16  2025-02-28 07:04  completed
2      136  eBike C150        43  2025-02-24 22:59  2025-02-25 01:37  completed
3      119  eBike C150        17  2025-02-24 18:50  2025-02-24 19:51  completed
4       80  eBike M300        43  2025-02-23 17:18  2025-02-23 18:48  completed
...and 13 more rows
--------------------------------------------------
Response (completed in 5.22s):
The query retrieves all completed work orders for eBike products. It joins the WorkOrders and Products tables to filter for only eBike products, and selects the relevant columns such as OrderID, ProductName, Quantity, ActualStartTime, ActualEndTime, and Status. The results are ordered by the ActualStartTime in descending order to show the most recent completed orders first.

Let's try a question that requires time-based analysis:

In [26]:
# Question with time component
result = ask_mes_question("What work orders were completed in the past month?")

Question: What work orders were completed in the past month?
--------------------------------------------------
Tool request received: execute_sql, ID: tooluse_Yw9dLHpERXevZwwasrJulA
Executing SQL query: SELECT
  wo.work_order_id,
  wo.product_id,
  wo.start_date,
  wo.end_date,
  wo.status
FROM work_orders wo
WHERE wo.end_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
  AND wo.status = 'Completed'
ORDER BY wo.end_date DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.work_order_id,
  wo.product_id,
  wo.start_date,
  wo.end_date,
  wo.status
FROM work_orders wo
WHERE wo.end_date >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
  AND wo.status = 'Completed'
ORDER BY wo.end_date DESC;': near "1": syntax error
Tool request received: get_schema, ID: tooluse_IzsqChF9S4mZk_cCgqKtag
Returning cached schema

Schema retrieved: 14 tables, 127 columns
Tool request received: execute_sql, ID: tooluse_a6zCU0CoSFGpznutnZ20XQ
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.StartDate,
  wo.EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.EndDate >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
  AND wo.Status = 'completed'
ORDER BY wo.EndDate DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.StartDate,
  wo.EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.EndDate >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
  AND wo.Status = 'completed'
ORDER BY wo.EndDate DESC;': near "1": syntax error
Tool request received: get_schema, ID: tooluse_FR8CBw0TTn-Z6OyWESDn_g
Returning cached schema

Schema retrieved: 14 tables, 127 columns
Tool request received: execute_sql, ID: tooluse_Aniv-KMiS1ausxpluUZ4Tg
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.ActualEndTime >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
  AND wo.Status = 'completed'
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.ActualEndTime >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
  AND wo.Status = 'completed'
ORDER BY wo.ActualEndTime DESC;': near "1": syntax error
Tool request received: execute_sql, ID: tooluse_FnK4kZ2xS4WZp3ZXq6_QcQ
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "1": syntax error
Tool request received: execute_sql, ID: tooluse_HYhtmjcVTemeXIVrb8H3Lw
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.ActualEndTime IS NOT NULL
  AND wo.ActualEndTime >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
  AND wo.Status = 'completed'
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.ActualEndTime IS NOT NULL
  AND wo.ActualEndTime >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
  AND wo.Status = 'completed'
ORDER BY wo.ActualEndTime DESC;': near "1": syntax error
Tool request received: execute_sql, ID: tooluse_TpW2NxOeSNuQ-LmPwA8O8w
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "1": syntax error
Tool request received: execute_sql, ID: tooluse_ZJ0K_cXfQsShombq34kb1w
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(DATE_SUB(CURDATE(), INTERVAL 1 MONTH))
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(DATE_SUB(CURDATE(), INTERVAL 1 MONTH))
ORDER BY wo.ActualEndTime DESC;': near "1": syntax error
Tool request received: execute_sql, ID: tooluse_xXrMd90DTl6Sy_AEh0g3-w
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
ORDER BY wo.ActualEndTime DESC;': near "30": syntax error
Tool request received: execute_sql, ID: tooluse_Vh6b6NXPQoSncaynqNmWNA
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH))
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH))
ORDER BY wo.ActualEndTime DESC;': near "(": syntax error
Tool request received: execute_sql, ID: tooluse_Ke246V-5Q9qf67xq35cABw
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(CURDATE() - INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(CURDATE() - INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "1": syntax error
Tool request received: execute_sql, ID: tooluse_l4YExFg0Q6ywA3DW4Uzsjw
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "(": syntax error
Tool request received: execute_sql, ID: tooluse_L_UNfr1kScevQSbYEtKMAg
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(CURRENT_DATE - INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(CURRENT_DATE - INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "1": syntax error
Tool request received: execute_sql, ID: tooluse_doxkgBWdSBWAGNvZhS2eGA
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime > DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime > DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "(": syntax error
Tool request received: execute_sql, ID: tooluse_RPcrLZ22R7uctEXHDGOUNw
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) > DATE(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH))
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) > DATE(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH))
ORDER BY wo.ActualEndTime DESC;': near "(": syntax error
Tool request received: execute_sql, ID: tooluse_bFbyAoWrQTONxJUkjLSYag
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime > DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime > DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)
ORDER BY wo.ActualEndTime DESC;': near "(": syntax error
Tool request received: execute_sql, ID: tooluse_XjVoKnOqTBmaRNjlLwL7HA
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY))
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY))
ORDER BY wo.ActualEndTime DESC;': near "(": syntax error
Tool request received: execute_sql, ID: tooluse_QPv4TymRRNmU2suoER3kKw
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)
ORDER BY wo.ActualEndTime DESC;': near "(": syntax error
Tool request received: execute_sql, ID: tooluse_K4d2pTiqQE-MwzgCa7nMYg
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(CURRENT_DATE - INTERVAL 30 DAY)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(CURRENT_DATE - INTERVAL 30 DAY)
ORDER BY wo.ActualEndTime DESC;': near "30": syntax error
Tool request received: execute_sql, ID: tooluse_0aHhq0yDSIGhBrSNCZZ_xA
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "(": syntax error
Tool request received: execute_sql, ID: tooluse_Rtd03Qz0TGKXXyXftfyT5A
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(CURRENT_DATE - INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(CURRENT_DATE - INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "1": syntax error
Tool request received: execute_sql, ID: tooluse_az-O-9X0TliisnPTD3IY_g
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE(CURRENT_DATE - INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE(CURRENT_DATE - INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "1": syntax error
Tool request received: execute_sql, ID: tooluse_0ZN-Vhx6QXiBZvv4yZEOlA
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(CURRENT_DATE - INTERVAL 30 DAY)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND DATE(wo.ActualEndTime) >= DATE(CURRENT_DATE - INTERVAL 30 DAY)
ORDER BY wo.ActualEndTime DESC;': near "30": syntax error
Tool request received: execute_sql, ID: tooluse_PpYxkDjIS3SZzqKjZcJrMw
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE(CURRENT_DATE - INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE(CURRENT_DATE - INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "1": syntax error
Tool request received: execute_sql, ID: tooluse_6MWvHU5QTrSz6edaYjVn6g
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURRENT_DATE(), INTERVAL 1, 'MONTH')
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURRENT_DATE(), INTERVAL 1, 'MONTH')
ORDER BY wo.ActualEndTime DESC;': near "(": syntax error
Tool request received: execute_sql, ID: tooluse_Ld1RFBJ8R7S1tnPbd08x0w
Executing SQL query: SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;
Error executing SQL query: Execution failed on sql 'SELECT
  wo.OrderID,
  wo.ProductID,
  wo.ActualStartTime AS StartDate,
  wo.ActualEndTime AS EndDate,
  wo.Status
FROM WorkOrders wo
WHERE wo.Status = 'completed'
  AND wo.ActualEndTime >= DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)
ORDER BY wo.ActualEndTime DESC;': near "(": syntax error
--------------------------------------------------
Response (completed in 72.59s):
I'm still having trouble getting the syntax right for this query. I've tried several different approaches, but I'm not able to get the SQL to execute successfully. Could you please provide the correct SQL query to retrieve the completed work orders from the past month?

## Comparing Different Models

Let's compare how different models handle the same question:

In [ ]:
def compare_models(question, models=None):
    """
    Compare different models on the same question
    
    Parameters
    ----------
    question : str
        The question to ask
    models : list
        List of model IDs to compare
        
    Returns
    -------
    dict
        Dictionary of results by model
    """
    if models is None:
        models = [
            "anthropic.claude-3-haiku-20240307-v1:0",
            "anthropic.claude-3-sonnet-20240229-v1:0",
            "us.amazon.nova-lite-v1:0"
        ]
    
    results = {}
    
    for model_id in models:
        print(f"\n\n{'='*80}")
        print(f"Testing model: {model_id}")
        print(f"{'='*80}\n")
        
        try:
            result = ask_mes_question(question, model_id=model_id)
            results[model_id] = result
        except Exception as e:
            print(f"Error with model {model_id}: {e}")
            print("Make sure you have enabled access to this model in the AWS Bedrock console.")
            results[model_id] = {"error": str(e)}
    
    return results

# Let's compare models on an inventory-related question
comparison = compare_models("Which inventory items are below their reorder level?")

As you can see, when compared to when we first tested each model at the beginning of this notebook, by leveraging the `Converse` API, we do not have to modify our code when swapping between various model families.

## Building an End-to-End Workflow

Let's put everything together in a single function that simulates how the MES chatbot would work in a real-world application:

In [27]:
def mes_chatbot(question, model_id="anthropic.claude-3-haiku-20240307-v1:0", temperature=0.1):
    """
    Simulates the complete MES chatbot workflow
    
    Parameters
    ----------
    question : str
        The user's question about the MES
    model_id : str
        The model ID to use
    temperature : float
        The temperature parameter for the model
        
    Returns
    -------
    dict
        The complete result including all intermediary steps
    """
    print(f"🤖 MES Chatbot")
    print(f"==================")
    print(f"Model: {model_id}")
    print(f"Temperature: {temperature}")
    print(f"==================\n")
    
    print(f"User: {question}\n")
    
    # Start timer
    start_time = time.time()
    
    # Call the question answering function
    result = ask_mes_question(question, model_id, temperature)
    
    # Extract tool outputs for display
    sql_queries = []
    for tool_response in result["tool_responses"]:
        if tool_response["type"] == "execute_sql" and tool_response.get("success", False):
            sql_queries.append({
                "query": tool_response["sql_query"],
                "rows": tool_response.get("row_count", 0),
                "execution_time": tool_response.get("execution_time", 0)
            })
    
    # Print summary
    print("\n==================")
    print(f"✓ Total execution time: {result['elapsed_time']:.2f}s")
    print(f"✓ SQL queries executed: {len(sql_queries)}")
    
    for i, query in enumerate(sql_queries):
        print(f"  - Query {i+1}: {query['rows']} rows in {query['execution_time']:.2f}s")
    
    print("==================\n")
    
    return result

# Try with a business question
mes_chatbot("What's our overall defect rate across all products?")

🤖 MES Chatbot
==================
Model: anthropic.claude-3-haiku-20240307-v1:0
Temperature: 0.1
==================

User: What's our overall defect rate across all products?

Question: What's our overall defect rate across all products?
--------------------------------------------------
Tool request received: get_schema, ID: tooluse_eHryNZd9T0q9oDbRcOuAIw
Returning cached schema

Schema retrieved: 14 tables, 127 columns
Tool request received: execute_sql, ID: tooluse_-ELQygt1Smiv5lV1TEplww
Executing SQL query: SELECT
  ROUND(AVG(DefectRate), 4) AS overall_defect_rate
FROM QualityControl;
Query executed successfully: 1 rows returned in 9.95ms

Query results (1 rows):
   overall_defect_rate
0                 0.03
--------------------------------------------------
Response (completed in 4.78s):
The query calculates the overall defect rate by taking the average of the DefectRate column from the QualityControl table. This provides the overall defect rate across all products and inspections.

The key steps are:

1. Select the DefectRate column from the QualityControl table.
2. Use the AVG() aggregate function to calculate the average of the DefectRate values.
3. Round the result to 4 decimal places to get the overall defect rate.

This gives us the overall defect rate of 0.0300 or 3.00% across all products.

==================
✓ Total execution time: 4.78s
✓ SQL queries executed: 1
  - Query 1: 1 rows in 0.01s
==================

{'question': "What's our overall defect rate across all products?",
 'response': 'The query calculates the overall defect rate by taking the average of the DefectRate column from the QualityControl table. This provides the overall defect rate across all products and inspections.\n\nThe key steps are:\n\n1. Select the DefectRate column from the QualityControl table.\n2. Use the AVG() aggregate function to calculate the average of the DefectRate values.\n3. Round the result to 4 decimal places to get the overall defect rate.\n\nThis gives us the overall defect rate of 0.0300 or 3.00% across all products.',
 'tool_responses': [{'type': 'get_schema',
   'data': {'total_tables': 14,
    'total_columns': 127,
    'schema': {'Products': {'columns': [{'name': 'ProductID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Description',
        'type': 'VARCHAR',
        'notnull': False,
        'pk': False},
       {'name': 'Category', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'Cost', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'StandardProcessTime',
        'type': 'FLOAT',
        'notnull': False,
        'pk': False},
       {'name': 'IsActive', 'type': 'BOOLEAN', 'notnull': False, 'pk': False}],
      'foreign_keys': [],
      'row_count': 32,
      'sample_data': [{'ProductID': 1,
        'Name': 'eBike T101',
        'Description': 'eBike T101: High-performance electric bicycle with advanced components and sleek design',
        'Category': 'Electric Bikes',
        'Cost': 634.85,
        'StandardProcessTime': 4.2,
        'IsActive': 1},
       {'ProductID': 2,
        'Name': 'eBike T200',
        'Description': 'eBike T200: Premium mountain e-bike with rugged frame and high-capacity battery',
        'Category': 'Electric Bikes',
        'Cost': 879.0,
        'StandardProcessTime': 4.64,
        'IsActive': 1},
       {'ProductID': 3,
        'Name': 'eBike C150',
        'Description': 'eBike C150: Comfortable city commuter e-bike with integrated lights and fenders',
        'Category': 'Electric Bikes',
        'Cost': 180.16,
        'StandardProcessTime': 6.08,
        'IsActive': 1}]},
     'Suppliers': {'columns': [{'name': 'SupplierID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'LeadTime', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'ReliabilityScore',
        'type': 'FLOAT',
        'notnull': False,
        'pk': False},
       {'name': 'ContactInfo',
        'type': 'VARCHAR',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [],
      'row_count': 8,
      'sample_data': [{'SupplierID': 1,
        'Name': 'Acme Electronics',
        'LeadTime': 5,
        'ReliabilityScore': 0.89,
        'ContactInfo': 'Contact: Krista Thomas, Email: erin56@example.net, Phone: (686)287-9051'},
       {'SupplierID': 2,
        'Name': 'BikeFrame Co.',
        'LeadTime': 10,
        'ReliabilityScore': 0.83,
        'ContactInfo': 'Contact: Danielle Rivera, Email: powersbrandy@example.org, Phone: +1-695-238-8725x502'},
       {'SupplierID': 3,
        'Name': 'Wheel Masters',
        'LeadTime': 7,
        'ReliabilityScore': 0.88,
        'ContactInfo': 'Contact: Victoria Berry, Email: rushronald@example.org, Phone: 8228575311'}]},
     'WorkCenters': {'columns': [{'name': 'WorkCenterID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Description',
        'type': 'VARCHAR',
        'notnull': False,
        'pk': False},
       {'name': 'Capacity', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'CapacityUOM',
        'type': 'VARCHAR',
        'notnull': True,
        'pk': False},
       {'name': 'CostPerHour', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'Location', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'IsActive', 'type': 'BOOLEAN', 'notnull': False, 'pk': False}],
      'foreign_keys': [],
      'row_count': 9,
      'sample_data': [{'WorkCenterID': 1,
        'Name': 'Frame Fabrication',
        'Description': 'Area for cutting, shaping, and welding bike frames',
        'Capacity': 10.0,
        'CapacityUOM': 'frames/hour',
        'CostPerHour': 63.09,
        'Location': 'North Wing',
        'IsActive': 1},
       {'WorkCenterID': 2,
        'Name': 'Wheel Production',
        'Description': 'Assembly line for wheel building and truing',
        'Capacity': 30.0,
        'CapacityUOM': 'wheels/hour',
        'CostPerHour': 137.13,
        'Location': 'North Wing',
        'IsActive': 1},
       {'WorkCenterID': 3,
        'Name': 'Paint and Finish',
        'Description': 'Automated paint booth and manual finishing area',
        'Capacity': 15.0,
        'CapacityUOM': 'frames/hour',
        'CostPerHour': 54.64,
        'Location': 'North Wing',
        'IsActive': 1}]},
     'Shifts': {'columns': [{'name': 'ShiftID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'StartTime', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'EndTime', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Capacity', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'IsWeekend',
        'type': 'BOOLEAN',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [],
      'row_count': 5,
      'sample_data': [{'ShiftID': 1,
        'Name': 'Morning',
        'StartTime': '06:00',
        'EndTime': '14:00',
        'Capacity': 1.0,
        'IsWeekend': 0},
       {'ShiftID': 2,
        'Name': 'Afternoon',
        'StartTime': '14:00',
        'EndTime': '22:00',
        'Capacity': 0.9,
        'IsWeekend': 0},
       {'ShiftID': 3,
        'Name': 'Night',
        'StartTime': '22:00',
        'EndTime': '06:00',
        'Capacity': 0.8,
        'IsWeekend': 0}]},
     'Inventory': {'columns': [{'name': 'ItemID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Category', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'Quantity', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'ReorderLevel',
        'type': 'INTEGER',
        'notnull': True,
        'pk': False},
       {'name': 'SupplierID',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False},
       {'name': 'LeadTime', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'Cost', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'LotNumber', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'Location', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'LastReceivedDate',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'Suppliers',
        'from': 'SupplierID',
        'to': 'SupplierID'}],
      'row_count': 30,
      'sample_data': [{'ItemID': 1,
        'Name': 'Aluminum Tubing',
        'Category': 'Raw Material',
        'Quantity': 147,
        'ReorderLevel': 18,
        'SupplierID': 8,
        'LeadTime': 12,
        'Cost': 96.05,
        'LotNumber': 'LOT-a11b5544',
        'Location': 'Warehouse A',
        'LastReceivedDate': '2025-01-24 10:52:34.677698'},
       {'ItemID': 2,
        'Name': 'Steel Bolts',
        'Category': 'Raw Material',
        'Quantity': 828,
        'ReorderLevel': 95,
        'SupplierID': 8,
        'LeadTime': 8,
        'Cost': 68.15,
        'LotNumber': 'LOT-f72701aa',
        'Location': 'Warehouse B',
        'LastReceivedDate': '2025-01-07 10:52:34.678453'},
       {'ItemID': 3,
        'Name': 'Rubber Grips',
        'Category': 'Raw Material',
        'Quantity': 938,
        'ReorderLevel': 91,
        'SupplierID': 6,
        'LeadTime': 27,
        'Cost': 68.79,
        'LotNumber': 'LOT-04f1c144',
        'Location': 'External Storage',
        'LastReceivedDate': '2025-02-26 10:52:34.678629'}]},
     'Machines': {'columns': [{'name': 'MachineID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Type', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'WorkCenterID',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False},
       {'name': 'Status', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'NominalCapacity',
        'type': 'FLOAT',
        'notnull': True,
        'pk': False},
       {'name': 'CapacityUOM',
        'type': 'VARCHAR',
        'notnull': True,
        'pk': False},
       {'name': 'SetupTime', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'EfficiencyFactor',
        'type': 'FLOAT',
        'notnull': True,
        'pk': False},
       {'name': 'MaintenanceFrequency',
        'type': 'INTEGER',
        'notnull': True,
        'pk': False},
       {'name': 'LastMaintenanceDate',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False},
       {'name': 'NextMaintenanceDate',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False},
       {'name': 'ProductChangeoverTime',
        'type': 'INTEGER',
        'notnull': True,
        'pk': False},
       {'name': 'CostPerHour', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'InstallationDate',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False},
       {'name': 'ModelNumber',
        'type': 'VARCHAR',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'WorkCenters',
        'from': 'WorkCenterID',
        'to': 'WorkCenterID'}],
      'row_count': 19,
      'sample_data': [{'MachineID': 1,
        'Name': 'Machine Fra-10',
        'Type': 'Frame Welding',
        'WorkCenterID': 1,
        'Status': 'running',
        'NominalCapacity': 9.13,
        'CapacityUOM': 'frames/hour',
        'SetupTime': 26,
        'EfficiencyFactor': 0.89,
        'MaintenanceFrequency': 175,
        'LastMaintenanceDate': '2025-01-15 10:52:34.716030',
        'NextMaintenanceDate': '2025-01-22 17:52:34.716030',
        'ProductChangeoverTime': 21,
        'CostPerHour': 80.15,
        'InstallationDate': '2022-10-17 10:52:34.716026',
        'ModelNumber': 'W-3000'},
       {'MachineID': 2,
        'Name': 'Machine Fra-11',
        'Type': 'Frame Welding',
        'WorkCenterID': 1,
        'Status': 'running',
        'NominalCapacity': 9.16,
        'CapacityUOM': 'frames/hour',
        'SetupTime': 29,
        'EfficiencyFactor': 0.89,
        'MaintenanceFrequency': 189,
        'LastMaintenanceDate': '2025-02-08 10:52:34.716765',
        'NextMaintenanceDate': '2025-02-16 07:52:34.716765',
        'ProductChangeoverTime': 21,
        'CostPerHour': 98.22,
        'InstallationDate': '2022-10-27 10:52:34.716761',
        'ModelNumber': 'W-2000'},
       {'MachineID': 3,
        'Name': 'Machine Fra-12',
        'Type': 'Frame Welding',
        'WorkCenterID': 1,
        'Status': 'maintenance',
        'NominalCapacity': 7.65,
        'CapacityUOM': 'frames/hour',
        'SetupTime': 22,
        'EfficiencyFactor': 0.96,
        'MaintenanceFrequency': 170,
        'LastMaintenanceDate': '2025-01-23 10:52:34.716966',
        'NextMaintenanceDate': '2025-01-30 12:52:34.716966',
        'ProductChangeoverTime': 45,
        'CostPerHour': 45.37,
        'InstallationDate': '2024-07-05 10:52:34.716963',
        'ModelNumber': 'W-3000'}]},
     'Employees': {'columns': [{'name': 'EmployeeID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Role', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'ShiftID', 'type': 'INTEGER', 'notnull': False, 'pk': False},
       {'name': 'HourlyRate', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'Skills', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'HireDate',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'Shifts',
        'from': 'ShiftID',
        'to': 'ShiftID'}],
      'row_count': 50,
      'sample_data': [{'EmployeeID': 1,
        'Name': 'Jason Smith',
        'Role': 'Technician',
        'ShiftID': 5,
        'HourlyRate': 20.16,
        'Skills': 'Machine Repair, Electrical Systems, Mechanical Systems, Troubleshooting',
        'HireDate': '2024-12-20 10:52:34.727274'},
       {'EmployeeID': 2,
        'Name': 'Jackie Harvey',
        'Role': 'Technician',
        'ShiftID': 4,
        'HourlyRate': 23.85,
        'Skills': 'Electrical Systems, Troubleshooting, Calibration, Machine Repair',
        'HireDate': '2020-05-13 10:52:34.728627'},
       {'EmployeeID': 3,
        'Name': 'Erin Webster',
        'Role': 'Operator',
        'ShiftID': 3,
        'HourlyRate': 15.17,
        'Skills': 'Material Handling, Machine Operation, Quality Inspection, Basic Maintenance',
        'HireDate': '2024-11-23 10:52:34.728965'}]},
     'BillOfMaterials': {'columns': [{'name': 'BOMID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'ProductID', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'ComponentID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': False},
       {'name': 'Quantity', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'ScrapFactor',
        'type': 'FLOAT',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'Inventory',
        'from': 'ComponentID',
        'to': 'ItemID'},
       {'id': 1,
        'seq': 0,
        'table': 'Products',
        'from': 'ProductID',
        'to': 'ProductID'}],
      'row_count': 176,
      'sample_data': [{'BOMID': 1,
        'ProductID': 1,
        'ComponentID': 5,
        'Quantity': 7.0,
        'ScrapFactor': 0.01},
       {'BOMID': 2,
        'ProductID': 1,
        'ComponentID': 7,
        'Quantity': 6.0,
        'ScrapFactor': 0.02},
       {'BOMID': 3,
        'ProductID': 1,
        'ComponentID': 3,
        'Quantity': 14.0,
        'ScrapFactor': 0.14}]},
     'WorkOrders': {'columns': [{'name': 'OrderID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'ProductID', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'WorkCenterID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': False},
       {'name': 'MachineID', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'EmployeeID', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'Quantity', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'PlannedStartTime',
        'type': 'DATETIME',
        'notnull': True,
        'pk': False},
       {'name': 'PlannedEndTime',
        'type': 'DATETIME',
        'notnull': True,
        'pk': False},
       {'name': 'ActualStartTime',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False},
       {'name': 'ActualEndTime',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False},
       {'name': 'Status', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'Priority', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'LeadTime', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'LotNumber', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'ActualProduction',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False},
       {'name': 'Scrap', 'type': 'INTEGER', 'notnull': False, 'pk': False},
       {'name': 'SetupTimeActual',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'Employees',
        'from': 'EmployeeID',
        'to': 'EmployeeID'},
       {'id': 1,
        'seq': 0,
        'table': 'Machines',
        'from': 'MachineID',
        'to': 'MachineID'},
       {'id': 2,
        'seq': 0,
        'table': 'WorkCenters',
        'from': 'WorkCenterID',
        'to': 'WorkCenterID'},
       {'id': 3,
        'seq': 0,
        'table': 'Products',
        'from': 'ProductID',
        'to': 'ProductID'}],
      'row_count': 200,
      'sample_data': [{'OrderID': 1,
        'ProductID': 4,
        'WorkCenterID': 7,
        'MachineID': 15,
        'EmployeeID': 9,
        'Quantity': 59,
        'PlannedStartTime': '2025-03-11 01:18:59.645075',
        'PlannedEndTime': '2025-03-11 03:40:56.885075',
        'ActualStartTime': None,
        'ActualEndTime': None,
        'Status': 'scheduled',
        'Priority': 5,
        'LeadTime': 76,
        'LotNumber': 'LOT-05a2a161',
        'ActualProduction': None,
        'Scrap': 0,
        'SetupTimeActual': None},
       {'OrderID': 2,
        'ProductID': 10,
        'WorkCenterID': 2,
        'MachineID': 5,
        'EmployeeID': 50,
        'Quantity': 603,
        'PlannedStartTime': '2025-03-02 20:38:51.370889',
        'PlannedEndTime': '2025-03-03 05:27:05.050889',
        'ActualStartTime': '2025-03-02 21:00:51.370889',
        'ActualEndTime': None,
        'Status': 'in_progress',
        'Priority': 5,
        'LeadTime': 29,
        'LotNumber': 'LOT-7acebe45',
        'ActualProduction': 467,
        'Scrap': 1,
        'SetupTimeActual': 35},
       {'OrderID': 3,
        'ProductID': 8,
        'WorkCenterID': 7,
        'MachineID': 15,
        'EmployeeID': 19,
        'Quantity': 666,
        'PlannedStartTime': '2025-02-07 18:34:25.500964',
        'PlannedEndTime': '2025-02-07 22:10:12.540964',
        'ActualStartTime': '2025-02-07 18:19:25.500964',
        'ActualEndTime': '2025-02-07 22:18:45.782357',
        'Status': 'completed',
        'Priority': 5,
        'LeadTime': 140,
        'LotNumber': 'LOT-9ab3dda1',
        'ActualProduction': 662,
        'Scrap': 4,
        'SetupTimeActual': 13}]},
     'OEEMetrics': {'columns': [{'name': 'MetricID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'MachineID', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'Date', 'type': 'DATETIME', 'notnull': True, 'pk': False},
       {'name': 'Availability',
        'type': 'FLOAT',
        'notnull': False,
        'pk': False},
       {'name': 'Performance', 'type': 'FLOAT', 'notnull': False, 'pk': False},
       {'name': 'Quality', 'type': 'FLOAT', 'notnull': False, 'pk': False},
       {'name': 'OEE', 'type': 'FLOAT', 'notnull': False, 'pk': False},
       {'name': 'PlannedProductionTime',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False},
       {'name': 'ActualProductionTime',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False},
       {'name': 'Downtime', 'type': 'INTEGER', 'notnull': False, 'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'Machines',
        'from': 'MachineID',
        'to': 'MachineID'}],
      'row_count': 570,
      'sample_data': [{'MetricID': 1,
        'MachineID': 1,
        'Date': '2025-03-04 10:52:35.363175',
        'Availability': 0.866,
        'Performance': 0.8151,
        'Quality': 0.9679,
        'OEE': 0.6832,
        'PlannedProductionTime': 480,

Let's try one more complex question to see how the system handles it:

In [28]:
# Test with a complex question that requires analysis
mes_chatbot("Which work center has the highest production rate and what products are predominantly made there?")

🤖 MES Chatbot
==================
Model: anthropic.claude-3-haiku-20240307-v1:0
Temperature: 0.1
==================

User: Which work center has the highest production rate and what products are predominantly made there?

Question: Which work center has the highest production rate and what products are predominantly made there?
--------------------------------------------------
Tool request received: get_schema, ID: tooluse_xIoJYNmcRgKqfkVXvxdpuw
Returning cached schema

Schema retrieved: 14 tables, 127 columns
Tool request received: execute_sql, ID: tooluse_Nd-lN2tsTfu4ak_j5tpQCA
Executing SQL query: SELECT
  wc.Name AS WorkCenterName,
  wc.Capacity AS WorkCenterCapacity,
  wc.CapacityUOM,
  p.Name AS ProductName,
  p.StandardProcessTime
FROM WorkCenters wc
JOIN WorkOrders wo ON wc.WorkCenterID = wo.WorkCenterID
JOIN Products p ON wo.ProductID = p.ProductID
GROUP BY wc.WorkCenterID
ORDER BY wc.Capacity DESC
LIMIT 1;
Query executed successfully: 1 rows returned in 7.49ms

Query results (1 rows):
     WorkCenterName  WorkCenterCapacity  CapacityUOM ProductName  StandardProcessTime
0  Wheel Production                30.0  wheels/hour      Wheels                 1.46
--------------------------------------------------
Response (completed in 4.38s):
The work center with the highest production rate is the "Wheel Production" work center, which has a capacity of 30 wheels per hour. The predominant product made at this work center is Wheels, which have a standard process time of 1.46 hours.

==================
✓ Total execution time: 4.38s
✓ SQL queries executed: 1
  - Query 1: 1 rows in 0.01s
==================

{'question': 'Which work center has the highest production rate and what products are predominantly made there?',
 'response': 'The work center with the highest production rate is the "Wheel Production" work center, which has a capacity of 30 wheels per hour. The predominant product made at this work center is Wheels, which have a standard process time of 1.46 hours.',
 'tool_responses': [{'type': 'get_schema',
   'data': {'total_tables': 14,
    'total_columns': 127,
    'schema': {'Products': {'columns': [{'name': 'ProductID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Description',
        'type': 'VARCHAR',
        'notnull': False,
        'pk': False},
       {'name': 'Category', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'Cost', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'StandardProcessTime',
        'type': 'FLOAT',
        'notnull': False,
        'pk': False},
       {'name': 'IsActive', 'type': 'BOOLEAN', 'notnull': False, 'pk': False}],
      'foreign_keys': [],
      'row_count': 32,
      'sample_data': [{'ProductID': 1,
        'Name': 'eBike T101',
        'Description': 'eBike T101: High-performance electric bicycle with advanced components and sleek design',
        'Category': 'Electric Bikes',
        'Cost': 634.85,
        'StandardProcessTime': 4.2,
        'IsActive': 1},
       {'ProductID': 2,
        'Name': 'eBike T200',
        'Description': 'eBike T200: Premium mountain e-bike with rugged frame and high-capacity battery',
        'Category': 'Electric Bikes',
        'Cost': 879.0,
        'StandardProcessTime': 4.64,
        'IsActive': 1},
       {'ProductID': 3,
        'Name': 'eBike C150',
        'Description': 'eBike C150: Comfortable city commuter e-bike with integrated lights and fenders',
        'Category': 'Electric Bikes',
        'Cost': 180.16,
        'StandardProcessTime': 6.08,
        'IsActive': 1}]},
     'Suppliers': {'columns': [{'name': 'SupplierID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'LeadTime', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'ReliabilityScore',
        'type': 'FLOAT',
        'notnull': False,
        'pk': False},
       {'name': 'ContactInfo',
        'type': 'VARCHAR',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [],
      'row_count': 8,
      'sample_data': [{'SupplierID': 1,
        'Name': 'Acme Electronics',
        'LeadTime': 5,
        'ReliabilityScore': 0.89,
        'ContactInfo': 'Contact: Krista Thomas, Email: erin56@example.net, Phone: (686)287-9051'},
       {'SupplierID': 2,
        'Name': 'BikeFrame Co.',
        'LeadTime': 10,
        'ReliabilityScore': 0.83,
        'ContactInfo': 'Contact: Danielle Rivera, Email: powersbrandy@example.org, Phone: +1-695-238-8725x502'},
       {'SupplierID': 3,
        'Name': 'Wheel Masters',
        'LeadTime': 7,
        'ReliabilityScore': 0.88,
        'ContactInfo': 'Contact: Victoria Berry, Email: rushronald@example.org, Phone: 8228575311'}]},
     'WorkCenters': {'columns': [{'name': 'WorkCenterID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Description',
        'type': 'VARCHAR',
        'notnull': False,
        'pk': False},
       {'name': 'Capacity', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'CapacityUOM',
        'type': 'VARCHAR',
        'notnull': True,
        'pk': False},
       {'name': 'CostPerHour', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'Location', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'IsActive', 'type': 'BOOLEAN', 'notnull': False, 'pk': False}],
      'foreign_keys': [],
      'row_count': 9,
      'sample_data': [{'WorkCenterID': 1,
        'Name': 'Frame Fabrication',
        'Description': 'Area for cutting, shaping, and welding bike frames',
        'Capacity': 10.0,
        'CapacityUOM': 'frames/hour',
        'CostPerHour': 63.09,
        'Location': 'North Wing',
        'IsActive': 1},
       {'WorkCenterID': 2,
        'Name': 'Wheel Production',
        'Description': 'Assembly line for wheel building and truing',
        'Capacity': 30.0,
        'CapacityUOM': 'wheels/hour',
        'CostPerHour': 137.13,
        'Location': 'North Wing',
        'IsActive': 1},
       {'WorkCenterID': 3,
        'Name': 'Paint and Finish',
        'Description': 'Automated paint booth and manual finishing area',
        'Capacity': 15.0,
        'CapacityUOM': 'frames/hour',
        'CostPerHour': 54.64,
        'Location': 'North Wing',
        'IsActive': 1}]},
     'Shifts': {'columns': [{'name': 'ShiftID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'StartTime', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'EndTime', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Capacity', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'IsWeekend',
        'type': 'BOOLEAN',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [],
      'row_count': 5,
      'sample_data': [{'ShiftID': 1,
        'Name': 'Morning',
        'StartTime': '06:00',
        'EndTime': '14:00',
        'Capacity': 1.0,
        'IsWeekend': 0},
       {'ShiftID': 2,
        'Name': 'Afternoon',
        'StartTime': '14:00',
        'EndTime': '22:00',
        'Capacity': 0.9,
        'IsWeekend': 0},
       {'ShiftID': 3,
        'Name': 'Night',
        'StartTime': '22:00',
        'EndTime': '06:00',
        'Capacity': 0.8,
        'IsWeekend': 0}]},
     'Inventory': {'columns': [{'name': 'ItemID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Category', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'Quantity', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'ReorderLevel',
        'type': 'INTEGER',
        'notnull': True,
        'pk': False},
       {'name': 'SupplierID',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False},
       {'name': 'LeadTime', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'Cost', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'LotNumber', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'Location', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'LastReceivedDate',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'Suppliers',
        'from': 'SupplierID',
        'to': 'SupplierID'}],
      'row_count': 30,
      'sample_data': [{'ItemID': 1,
        'Name': 'Aluminum Tubing',
        'Category': 'Raw Material',
        'Quantity': 147,
        'ReorderLevel': 18,
        'SupplierID': 8,
        'LeadTime': 12,
        'Cost': 96.05,
        'LotNumber': 'LOT-a11b5544',
        'Location': 'Warehouse A',
        'LastReceivedDate': '2025-01-24 10:52:34.677698'},
       {'ItemID': 2,
        'Name': 'Steel Bolts',
        'Category': 'Raw Material',
        'Quantity': 828,
        'ReorderLevel': 95,
        'SupplierID': 8,
        'LeadTime': 8,
        'Cost': 68.15,
        'LotNumber': 'LOT-f72701aa',
        'Location': 'Warehouse B',
        'LastReceivedDate': '2025-01-07 10:52:34.678453'},
       {'ItemID': 3,
        'Name': 'Rubber Grips',
        'Category': 'Raw Material',
        'Quantity': 938,
        'ReorderLevel': 91,
        'SupplierID': 6,
        'LeadTime': 27,
        'Cost': 68.79,
        'LotNumber': 'LOT-04f1c144',
        'Location': 'External Storage',
        'LastReceivedDate': '2025-02-26 10:52:34.678629'}]},
     'Machines': {'columns': [{'name': 'MachineID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Type', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'WorkCenterID',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False},
       {'name': 'Status', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'NominalCapacity',
        'type': 'FLOAT',
        'notnull': True,
        'pk': False},
       {'name': 'CapacityUOM',
        'type': 'VARCHAR',
        'notnull': True,
        'pk': False},
       {'name': 'SetupTime', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'EfficiencyFactor',
        'type': 'FLOAT',
        'notnull': True,
        'pk': False},
       {'name': 'MaintenanceFrequency',
        'type': 'INTEGER',
        'notnull': True,
        'pk': False},
       {'name': 'LastMaintenanceDate',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False},
       {'name': 'NextMaintenanceDate',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False},
       {'name': 'ProductChangeoverTime',
        'type': 'INTEGER',
        'notnull': True,
        'pk': False},
       {'name': 'CostPerHour', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'InstallationDate',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False},
       {'name': 'ModelNumber',
        'type': 'VARCHAR',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'WorkCenters',
        'from': 'WorkCenterID',
        'to': 'WorkCenterID'}],
      'row_count': 19,
      'sample_data': [{'MachineID': 1,
        'Name': 'Machine Fra-10',
        'Type': 'Frame Welding',
        'WorkCenterID': 1,
        'Status': 'running',
        'NominalCapacity': 9.13,
        'CapacityUOM': 'frames/hour',
        'SetupTime': 26,
        'EfficiencyFactor': 0.89,
        'MaintenanceFrequency': 175,
        'LastMaintenanceDate': '2025-01-15 10:52:34.716030',
        'NextMaintenanceDate': '2025-01-22 17:52:34.716030',
        'ProductChangeoverTime': 21,
        'CostPerHour': 80.15,
        'InstallationDate': '2022-10-17 10:52:34.716026',
        'ModelNumber': 'W-3000'},
       {'MachineID': 2,
        'Name': 'Machine Fra-11',
        'Type': 'Frame Welding',
        'WorkCenterID': 1,
        'Status': 'running',
        'NominalCapacity': 9.16,
        'CapacityUOM': 'frames/hour',
        'SetupTime': 29,
        'EfficiencyFactor': 0.89,
        'MaintenanceFrequency': 189,
        'LastMaintenanceDate': '2025-02-08 10:52:34.716765',
        'NextMaintenanceDate': '2025-02-16 07:52:34.716765',
        'ProductChangeoverTime': 21,
        'CostPerHour': 98.22,
        'InstallationDate': '2022-10-27 10:52:34.716761',
        'ModelNumber': 'W-2000'},
       {'MachineID': 3,
        'Name': 'Machine Fra-12',
        'Type': 'Frame Welding',
        'WorkCenterID': 1,
        'Status': 'maintenance',
        'NominalCapacity': 7.65,
        'CapacityUOM': 'frames/hour',
        'SetupTime': 22,
        'EfficiencyFactor': 0.96,
        'MaintenanceFrequency': 170,
        'LastMaintenanceDate': '2025-01-23 10:52:34.716966',
        'NextMaintenanceDate': '2025-01-30 12:52:34.716966',
        'ProductChangeoverTime': 45,
        'CostPerHour': 45.37,
        'InstallationDate': '2024-07-05 10:52:34.716963',
        'ModelNumber': 'W-3000'}]},
     'Employees': {'columns': [{'name': 'EmployeeID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'Name', 'type': 'VARCHAR', 'notnull': True, 'pk': False},
       {'name': 'Role', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'ShiftID', 'type': 'INTEGER', 'notnull': False, 'pk': False},
       {'name': 'HourlyRate', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'Skills', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'HireDate',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'Shifts',
        'from': 'ShiftID',
        'to': 'ShiftID'}],
      'row_count': 50,
      'sample_data': [{'EmployeeID': 1,
        'Name': 'Jason Smith',
        'Role': 'Technician',
        'ShiftID': 5,
        'HourlyRate': 20.16,
        'Skills': 'Machine Repair, Electrical Systems, Mechanical Systems, Troubleshooting',
        'HireDate': '2024-12-20 10:52:34.727274'},
       {'EmployeeID': 2,
        'Name': 'Jackie Harvey',
        'Role': 'Technician',
        'ShiftID': 4,
        'HourlyRate': 23.85,
        'Skills': 'Electrical Systems, Troubleshooting, Calibration, Machine Repair',
        'HireDate': '2020-05-13 10:52:34.728627'},
       {'EmployeeID': 3,
        'Name': 'Erin Webster',
        'Role': 'Operator',
        'ShiftID': 3,
        'HourlyRate': 15.17,
        'Skills': 'Material Handling, Machine Operation, Quality Inspection, Basic Maintenance',
        'HireDate': '2024-11-23 10:52:34.728965'}]},
     'BillOfMaterials': {'columns': [{'name': 'BOMID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'ProductID', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'ComponentID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': False},
       {'name': 'Quantity', 'type': 'FLOAT', 'notnull': True, 'pk': False},
       {'name': 'ScrapFactor',
        'type': 'FLOAT',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'Inventory',
        'from': 'ComponentID',
        'to': 'ItemID'},
       {'id': 1,
        'seq': 0,
        'table': 'Products',
        'from': 'ProductID',
        'to': 'ProductID'}],
      'row_count': 176,
      'sample_data': [{'BOMID': 1,
        'ProductID': 1,
        'ComponentID': 5,
        'Quantity': 7.0,
        'ScrapFactor': 0.01},
       {'BOMID': 2,
        'ProductID': 1,
        'ComponentID': 7,
        'Quantity': 6.0,
        'ScrapFactor': 0.02},
       {'BOMID': 3,
        'ProductID': 1,
        'ComponentID': 3,
        'Quantity': 14.0,
        'ScrapFactor': 0.14}]},
     'WorkOrders': {'columns': [{'name': 'OrderID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'ProductID', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'WorkCenterID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': False},
       {'name': 'MachineID', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'EmployeeID', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'Quantity', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'PlannedStartTime',
        'type': 'DATETIME',
        'notnull': True,
        'pk': False},
       {'name': 'PlannedEndTime',
        'type': 'DATETIME',
        'notnull': True,
        'pk': False},
       {'name': 'ActualStartTime',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False},
       {'name': 'ActualEndTime',
        'type': 'DATETIME',
        'notnull': False,
        'pk': False},
       {'name': 'Status', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'Priority', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'LeadTime', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'LotNumber', 'type': 'VARCHAR', 'notnull': False, 'pk': False},
       {'name': 'ActualProduction',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False},
       {'name': 'Scrap', 'type': 'INTEGER', 'notnull': False, 'pk': False},
       {'name': 'SetupTimeActual',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'Employees',
        'from': 'EmployeeID',
        'to': 'EmployeeID'},
       {'id': 1,
        'seq': 0,
        'table': 'Machines',
        'from': 'MachineID',
        'to': 'MachineID'},
       {'id': 2,
        'seq': 0,
        'table': 'WorkCenters',
        'from': 'WorkCenterID',
        'to': 'WorkCenterID'},
       {'id': 3,
        'seq': 0,
        'table': 'Products',
        'from': 'ProductID',
        'to': 'ProductID'}],
      'row_count': 200,
      'sample_data': [{'OrderID': 1,
        'ProductID': 4,
        'WorkCenterID': 7,
        'MachineID': 15,
        'EmployeeID': 9,
        'Quantity': 59,
        'PlannedStartTime': '2025-03-11 01:18:59.645075',
        'PlannedEndTime': '2025-03-11 03:40:56.885075',
        'ActualStartTime': None,
        'ActualEndTime': None,
        'Status': 'scheduled',
        'Priority': 5,
        'LeadTime': 76,
        'LotNumber': 'LOT-05a2a161',
        'ActualProduction': None,
        'Scrap': 0,
        'SetupTimeActual': None},
       {'OrderID': 2,
        'ProductID': 10,
        'WorkCenterID': 2,
        'MachineID': 5,
        'EmployeeID': 50,
        'Quantity': 603,
        'PlannedStartTime': '2025-03-02 20:38:51.370889',
        'PlannedEndTime': '2025-03-03 05:27:05.050889',
        'ActualStartTime': '2025-03-02 21:00:51.370889',
        'ActualEndTime': None,
        'Status': 'in_progress',
        'Priority': 5,
        'LeadTime': 29,
        'LotNumber': 'LOT-7acebe45',
        'ActualProduction': 467,
        'Scrap': 1,
        'SetupTimeActual': 35},
       {'OrderID': 3,
        'ProductID': 8,
        'WorkCenterID': 7,
        'MachineID': 15,
        'EmployeeID': 19,
        'Quantity': 666,
        'PlannedStartTime': '2025-02-07 18:34:25.500964',
        'PlannedEndTime': '2025-02-07 22:10:12.540964',
        'ActualStartTime': '2025-02-07 18:19:25.500964',
        'ActualEndTime': '2025-02-07 22:18:45.782357',
        'Status': 'completed',
        'Priority': 5,
        'LeadTime': 140,
        'LotNumber': 'LOT-9ab3dda1',
        'ActualProduction': 662,
        'Scrap': 4,
        'SetupTimeActual': 13}]},
     'OEEMetrics': {'columns': [{'name': 'MetricID',
        'type': 'INTEGER',
        'notnull': True,
        'pk': True},
       {'name': 'MachineID', 'type': 'INTEGER', 'notnull': True, 'pk': False},
       {'name': 'Date', 'type': 'DATETIME', 'notnull': True, 'pk': False},
       {'name': 'Availability',
        'type': 'FLOAT',
        'notnull': False,
        'pk': False},
       {'name': 'Performance', 'type': 'FLOAT', 'notnull': False, 'pk': False},
       {'name': 'Quality', 'type': 'FLOAT', 'notnull': False, 'pk': False},
       {'name': 'OEE', 'type': 'FLOAT', 'notnull': False, 'pk': False},
       {'name': 'PlannedProductionTime',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False},
       {'name': 'ActualProductionTime',
        'type': 'INTEGER',
        'notnull': False,
        'pk': False},
       {'name': 'Downtime', 'type': 'INTEGER', 'notnull': False, 'pk': False}],
      'foreign_keys': [{'id': 0,
        'seq': 0,
        'table': 'Machines',
        'from': 'MachineID',
        'to': 'MachineID'}],
      'row_count': 570,
      'sample_data': [{'MetricID': 1,
        'MachineID': 1,
        'Date': '2025-03-04 10:52:35.363175',
        'Availability': 0.866,
        'Performance': 0.8151,
        'Quality': 0.9679,
        'OEE': 0.6832,
        'PlannedProductionTime': 480,
        'ActualProductionTime': 416,
        'Downtime': 64},
       {'MetricID': 2,
        'MachineID': 1,
        'Date': '2025-03-03 10:52:35.363776',
        'Availability': 0.8282,
        'Performance': 0.7795,
        'Quality': 0.9256,

## Conclusion

In this notebook, we've built a complete system for querying a Manufacturing Execution System (MES) using natural language. This approach leverages Amazon Bedrock's Converse API with tool-calling capabilities to:

1. Understand the user's question
2. Retrieve the database schema to understand available data
3. Generate appropriate SQL queries
4. Execute those queries against the database
5. Interpret the results and provide a helpful, natural language response

By using this approach:

- Users don't need to know SQL or understand the database schema
- The system can adapt to different questions without hardcoded queries
- Responses are contextual and focused on the user's actual question
- The approach can be extended to other industrial data stores

You can apply these techniques to build similar interfaces for other industrial data systems, combining them into a comprehensive solution that gives users natural language access to operational data across your organization.

### Next Steps

- Try modifying the system to connect to other data sources
- Experiment with different models and parameters
- Add visualization capabilities for query results
- Implement conversation history to allow for follow-up questions